@mixin content-parent {
  display: flex;
  align-content: center;
  justify-content: center;    
  margin: 0;
  padding: 0;    
}
@mixin content-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;    
    width: 60vh;
}
@mixin roundend-img {
  clip-path:circle();   
  position: relative; 
  width: 90px;
  height: 90px;  
  object-fit: cover
}
@mixin divider{
  color: rgba(255, 255, 255, 0.534);
}
@mixin direction-row {
  display: flex;
  flex-direction: row;
}
@mixin direction-column {
  display: flex;
  flex-direction: column;
}

.content-body{  
  @include content-parent();
  height: auto;
  .card-body-container{
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.34);
    @include content-child();
    background-color: linear-gradient(45deg, rgb(38, 49, 93) 0%, rgb(38, 49, 93) 1%, rgb(0, 22, 110) 100%);
    .identification-content{
      display: flex;
      justify-content: left;
      align-content: center;
      .item-data{
        display: flex;
        padding-top: 5px;
        &.info{
          flex-direction: column;
          justify-content: left;
          align-items: left;
          a{
            text-decoration: none;
            color: rgb(41, 41, 41);
          }
        }                
        mat-icon{
          font-size: 35px;
          color: rgb(168, 168, 168);
        }
        p{
          font-size: 15px;
          color: rgb(44, 44, 44);
        }
        small{
          text-align: left;
          color: rgb(155, 155, 155);
        }
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 25px;
      }

    }
    .social-media{
      display: flex;
      flex-direction: column;
      .title{
        margin-top: 15px;
        color: #82848f;
        width: 100%;
        display: flex;
        padding-left: 85px;
        justify-content: left;
      }
      .buttons-content{ 
        width: 100%;
        justify-content: center;       
        .button-item{
          margin-top: 10px;
          margin-bottom: 10px;
        }
        
        &.social{
          .button-item{
            margin-left: 10px;
            margin-right: 10px;
          }
          @include direction-row();
        }        
        .button-item{        
           .extra-button{
            width: 50%;
            padding: 10px
          }
        }
        &.extra{        
          @include direction-column();                    
        }        

        .linkedin{
          background-color: #4c61d6;
        }
        
      }
    }
  }
}
.buttons-content.movil{
  display: none;
}

@media screen and (max-width: 650px)  { //Telefono  
  .buttons-content.extras{
    display: none;
  }
  .buttons-content.movil{    
    display: block;    
    position: absolute;    
    right: 0;
    bottom: 0;
    margin-right: 10px;        
    height: 0;
    .button-item{      
      display: flex;
      width: auto;      
      justify-content: end;      
    }    
  }
  .content-body{
    height: auto;    
    .card-body-container{
      -webkit-box-shadow:none; 
      box-shadow: none;
      width: 100%;      
    } 
    .social-media{
      padding: 0;
      width: 100%;
      height: auto; 
      .buttons-content{
        padding-top: 0;        
        margin-top:0;
        .button-item{
          margin-top: 0px!important;
        }
      }     
      .title{
        margin-top: 0px;
      }
    } 
  }    
}

@media screen and (min-height: 800px){
  .content-body{         
    .social-media{
      padding-top: 50px;
      height: 100% !important;    
    } 
  }      
}
@media screen and (max-height: 740px){
  .content-body{         
    .social-media{      
      height: 100% !important;    
    } 
  }      
}