#Content{
  background-color: black;
  height: 100vh;
}
.card{
  margin: 0;
  padding: 0;
  height: 100vh;
  border: none;
}
.card-header{
  color:white;
  background-color: #051a6b;
}

.presentation{
  small{
    color: rgb(160, 160, 160);
  }
}
.action{  
  margin: 0;
  padding: 0;
  border-top: 1px solid #1C6EA4;
}
.none-space{
  margin: 0;
  padding: 0;
}
.action-content{
  padding: 0;
  margin:  0;
}
.action-button{
  width: 100%;
  height: 100%;
  color: white;
  background-color: #05196b00;
  border: none;
  mat-icon{
    color: #e2e2e2;
    font-size: 35px;
  }
  &:hover{
    background-color: #475fbe7a;
  }
}
ul{
  margin-top: 50px;
}

li{
  padding: 25px;
  display: flex;  
  flex-flow: flex-start;
  align-content: space-between;    
  gap: 60px;
  color: rgb(160, 160, 160);  
  .item{
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    justify-content: center;
    text-align: left;
    mat-icon{
      font-size: 35px;
    }
    p{
      color: black;
      font-size: large;
    }    
  }  
}
section {
  display: table;
}
.example-flex-container{
  display: flex;      
  justify-content: center;
  
}
#wrapper{
  clip-path:circle();
  height: 100px;
  width: 100px;
  border: solid green 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-header-image {  
  clip-path:circle();   
  position: relative; 
  width: 130px;
  height: 130px;  
  object-fit: cover;  
}