<div id="Content" class="container justify-content-center text-center">        

  <div class="row">
    <div class="card col-12">        
        <button class="exit-button" mat-raised-button color="accent" (click)="close()"><mat-icon>close</mat-icon></button>
        <div class="card-header">
          
          <div class="container justify-content-center">

            <div class="row align-items-center">                              
              <div class="head-img col-12 text-center mt-4">              
                <div id="wrapper text-center">
                  <img class="example-header-image" src="{{host+'public/'+userDataPreview.img}}">                  
                </div>              
              </div>
              
              <div class="col-12 presentation mt-4">                
                  <h3 class="fullname">{{userDataPreview.fullname}}</h3>
              </div> 
              <div class="col-12 presentation m-0">                
                  <small>{{userDataPreview.work}}</small>
              </div>             
    
            </div>
                        
          </div>
          
        </div>
  
        <div class="card-header action">
          <div class="col-6 action-content" >
            <a class="action-button" matRipple [matRippleRadius]="30">
              <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon>
            </a>              
          </div>
  
          <hr class="divider">
  
          <div class="col-6 action-content">
            <a class="action-button" matRipple [matRippleRadius]="30">            
              <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
            </a>
            
          </div>                  
      </div>
  
      <div class="card-body main-content">
  
        <ul class="list-group">
          <li class="list-group-item ">
            <div class="item">
              <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon>
            </div>
            <div class="item">
             <p>
               {{userDataPreview.phone}}              
             </p>
             
             
             <small>Movil</small>
             
            </div>
           
            
          </li>
             
  
         <li class="list-group-item ">
           <div class="item">
  
             <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
           </div>
           <div class="item">
            <p>
               {{userDataPreview.email}}              
            </p>
            
            <small>Email</small>
            
           </div>
          
           
         </li>
  
         <li class="list-group-item ">
           <div class="item">
  
             <mat-icon aria-hidden="false" aria-label="Example home icon">work</mat-icon>
           </div>
           <div class="item">
            <p>
              KOALA VNZLA
            </p>          
            <small>{{userDataPreview.work}}</small>                     
           </div>                 
         </li>
  
         <li class="list-group-item ">
           <div class="item">
  
             <mat-icon aria-hidden="false" aria-label="Example home icon">language</mat-icon>
           </div>
           <div class="item">
            <a>
              https://koalaandina.com
            </a>
            
            <small>Pagina web</small>
            
           </div>
          
           
         </li>
          
        </ul>
        
       </div>
       
  
    </div>
    
  </div>
</div>
