
<div class="container-fluid text-center">
  <div class="row justify-content-center">
      <div class="col-md-12">          
              <form class="form-horizontal" method="post">
                  <fieldset>
                      <legend class="text-center header">Registrar empleado</legend>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-8">
                              <input id="fname" name="name" type="text" placeholder="Nombre Completo" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-8">
                              <input id="lname" name="name" type="text" placeholder="Cargo" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                          <div class="col-md-8">
                              <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                          <div class="col-md-8">
                              <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="lname" name="name" type="text" placeholder="Facebook" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="lname" name="name" type="text" placeholder="Instagram" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="lname" name="name" type="text" placeholder="Linkedin" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12 text-center">
                              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
      
  </div>
</div>