.register-content{
  display: flex;
  justify-content: center;
  mat-card{
    mat-toolbar{      
      border-radius: 13px 13px 0px 0px;
    }
    border-radius: 13px;
    width: 80%;
    padding: 0;
  }
}
.form-register{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  gap: 5px;
  .doble{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    flex-basis: auto;
    mat-form-field{
      width: 50%;
    }
  }
  margin-bottom: 0;
  padding-bottom: 0;
}

.actions{
  display: flex;
  padding: 25px;
  margin-top: 0;  
}

@media screen and (max-width: 550px){
  .register-content{
    
    mat-card{
      mat-toolbar{      
        font-size: 12px;
      }
      
    }
  }
}