<div class="Main-content d-none d-md-block">
  <div id="Formulario" class="container-fluid justify-content-center text-center" *ngIf="!preview && !animationProces" [@edition]="edition">
    <mat-card clasS="col-6">
      <mat-toolbar Class="primary-tool" color="primary">
        <span>Editar usuario</span>
        <span class="spacer"></span>                    
      </mat-toolbar>
       
      <div class="image-input">
        <img class="image-preview" *ngIf="!userDataPreview.img" src="assets/noimage.webp">
        <img class="image-preview" *ngIf="userDataPreview.img"  src="{{croppedImage?croppedImage:transform()}}" >
      </div>
      

      <mat-card-content>

        <form  [formGroup]="formG">
              
          <mat-form-field>
            <input formControlName="fullname" matInput placeholder="Nombre" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="work" matInput placeholder="Cargo" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="phone" matInput placeholder="Telefono" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="email" matInput placeholder="Correo" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="linkedin" matInput placeholder="Linkedin" >
          </mat-form-field>                  


        </form>
      </mat-card-content>
      <mat-card-actions class="p-5">
        <button mat-button (click)="updateInformation()">Guardar Cambios</button>
      </mat-card-actions>
    </mat-card>
    

    <mat-card clasS="col-6">
      <mat-toolbar Class="seond-tool" color="primary">       
        <span class="spacer"></span>                   
      </mat-toolbar>

      <input (change)="fileChangeEvent($event)"  type="file">  
      
      <image-cropper
        class="cropper"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="2/2"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoadeds($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()">
      </image-cropper>                  

      
    </mat-card>            
  </div>
</div>



<div class="Main-content movil d-md-none">
  <div id="Formulario" class="container-fluid justify-content-center text-center" *ngIf="!preview && !animationProces" [@edition]="edition">
    <mat-card clasS="col-6">
      <mat-toolbar Class="primary-tool" color="primary">
        <span>Editar usuario</span>
        <span class="spacer"></span> 
        <button mat-icon-button (click)="switchImageEditor()"><mat-icon>image</mat-icon></button>                   
      </mat-toolbar>
       
      <div class="image-input">
        <img class="image-preview" *ngIf="!userDataPreview.img" src="assets/noimage.webp">
        <img class="image-preview" *ngIf="userDataPreview.img"  src="{{croppedImage?croppedImage:host+userData.img}}" >
      </div>
      

      <mat-card-content *ngIf="!imageEditorMobile">

        <form  [formGroup]="formG">
              
          <mat-form-field>
            <input formControlName="fullname" matInput placeholder="Nombre" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="work" matInput placeholder="Cargo" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="phone" matInput placeholder="Telefono" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="email" matInput placeholder="Correo" >
          </mat-form-field>

          <mat-form-field>
            <input formControlName="linkedin" matInput placeholder="Linkedin" >
          </mat-form-field>                  


        </form>        
      </mat-card-content>

      <mat-card clasS="col-6" *ngIf="imageEditorMobile">       
  
        <input (change)="fileChangeEvent($event)"  type="file">  
        
        <image-cropper
          class="cropper"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="2/2"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoadeds($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>                  
  
        
      </mat-card> 

      <mat-card-actions class="p-5">
        <button mat-raised-button color="primary" (click)="updateInformation()">Guardar Cambios</button>
      </mat-card-actions>
    </mat-card>
    

      
  </div>
</div>



