<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <!--button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button-->
      <img class="img-logo" src="assets/logo_white.svg" alt="">
      
      <div class="spacer"></div>
      
      <button mat-button (click)="logOut()" >
        <mat-icon>logout</mat-icon>
      </button>
      
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="side-nav"><!--Menu lateral-->
         
         
        <mat-accordion class="mat-elevation-z0">
          <mat-expansion-panel class="mat-elevation-z0" *ngFor="let master of menuList">
            <mat-expansion-panel-header class="mat-elevation-z0">
              {{master.name}}
            </mat-expansion-panel-header>
            <mat-list-item  class="mat-elevation-z0" *ngFor="let child of master.children">
              {{child.name}}  
            </mat-list-item>
          </mat-expansion-panel>
     
        </mat-accordion>

          
        </mat-nav-list>

      </mat-sidenav>
  
      <mat-sidenav-content>        
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </mat-sidenav-content>
      
    </mat-sidenav-container>
  </div>