<table class="table">
  <caption>Lista de usuarios</caption>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cargo</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)=" openDialog()" >
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Gerente</td>
      <td>04164443443</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Operador</td>
      <td>04125554454</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Secretario</td>
      <td>04244443353</td>
    </tr>
  </tbody>
</table>



