<app-loading *ngIf="isLoading"></app-loading>
<div id="MainContent" class="container-fluid mt-5" >
    <div class="row">
        <div class="col-6" *ngIf="!isRegister && !isEdit">
          <button mat-raised-button color="primary" (click)="isRegister = true">
            Nuevo usuario
            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
          </button>
        </div>
        <div class="col-6" *ngIf="isRegister || isEdit">
          <button mat-raised-button color="primary" (click)="goBack()">
            regresar
            
          </button>
        </div>
    </div>
</div>


<app-edit [userData]="userData" (loading)="switchLoading()" (goBack)="isEdit = !isEdit" *ngIf="isEdit"></app-edit>
<app-table (editUser)="seteditionUser($event)" *ngIf="!isRegister && !isEdit" ></app-table>
<app-register *ngIf="isRegister" (loading)="switchLoading()" (goBack)="isRegister = false"></app-register>